{%comment%}

import React, {Component} from 'react';

import { FormLayout, Loading } from 'dear-ui';
import { Services } from "@mini-code/services";
import { FormRender } from "@mini-code/template-engine";

class MiddleFormClass extends Services {
  state = {
    ...this.state
  }

  constructor(props) {
    super(props);

    this.formOptions = [
      {
        type: 'input',
        ref: 'Input'
      }
    ];
    this.btnConfig = [
      {
        action: async (formRef, actingRef) => {
          if (!this.checkForm(formRef)) return;

          const postData = formRef.value;
          
          await this.reqAgent(this.apis.testSubmit, {
            actingRef
          })(postData);
        },
        text: '按钮1',
        actingRef: 'acting1',
        className: 'theme'
      },
    ];
  }
}

const {%pageName%} = FormRender(MiddleFormClass);

export {
  {%pageName%}
}
